<div *ngIf="product$ | async as product; else loading">
  <div class="product">
    <div class="header right">
      <button routerLink="/" class="btn btn-dark">Назад</button>
    </div>

    <div class="flex">
      <div class="item text-center">
        <h2>{{product.title}}</h2>
        <div>
          <quill-editor [(ngModel)]="product.photo" [modules]="{toolbar: false}" [styles] = "{ border: '0px'}"></quill-editor>
        </div>
        <div>
          <h2>Цена: {{product.price}} р</h2>

          <button class="btn btn-dark" [routerLink]="['/cart']" (click)="addProduct(product)">Добавить в корзину</button>
        </div>
      </div>

      <div class="item">
        <h2>Информация:</h2>
        <div>
          <quill-editor [(ngModel)]="product.info" [modules]="{toolbar: false}" [styles] = "{ border: '0px'}"></quill-editor>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <p class="text-center">Загрузка...</p>
</ng-template>
