<div class="text-center">
  <h2>{{ product.title }}</h2>
  <div class="flex-center">
    <quill-editor [(ngModel)]="product.photo"
                  [modules]="{toolbar: false}"
                  [styles] = "{ border: '0px'}"></quill-editor>
  </div>

  <h2>Цена: {{product.price}} р</h2>

  <button [routerLink]="['/product', product.id]" class="btn btn-dark">Подробнее</button>

  <button [routerLink]="['/cart']" class="btn btn-dark" (click)="addProduct(product)">Добавить в корзину</button>
</div>
